<mat-card class="event-dashboard" appearance="outlined">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ (tournament$ | ngrxPush)?.name }}</mat-card-title>
      <mat-card-subtitle>Tournament Dashboard </mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="(tournament$ | ngrxPush)?.isLeague">
      <p class="elo-panel">Your elo: {{ (enrollment$ | ngrxPush)?.elo }}</p>
    </ng-container>
    <app-draft-panel />
  </mat-card-content>
</mat-card>
