<div class="card">
  <h4 class="card-header">
    Draft playing {{ (draft$ | ngrxPush)?.cube?.name }}
  </h4>
  <div class="card-body">
    <h5 class="card-subtitle mb-2">Players:</h5>
    <ul class="admin-draft-panel player-list">
      <li *ngFor="let player of (draft$ | ngrxPush)?.players; index as i">
        {{ player.enrollment?.user?.username }}
      </li>
    </ul>
    <h5 class="card-subtitle mb-2">Matches:</h5>
    <ul
      class="admin-match-list"
      *ngIf="(matches$ | ngrxPush)?.length; else noMatches"
    >
      <li
        *ngFor="let game of matches$ | ngrxPush; index as i"
        class="admin-match-embed"
      >
        {{ game.player1?.enrollment?.user?.username }}
        vs
        {{ game.player2?.enrollment?.user?.username }}
        <span
          *ngIf="
            game.player1Wins != null && game.player2Wins != null;
            else pending
          "
        >
          -
          {{ game.player1Wins }}
          :
          {{ game.player2Wins }}
        </span>
        <ng-template #pending> (Result pending)</ng-template>
        <a routerLink="/tournaments/admin/match/{{ game.id }}" class="card-link"
          >View match</a
        >
      </li>
    </ul>
    <ng-template #noMatches>
      <div>
        <button class="btn btn-primary" (click)="pairRound()">
          Pair Round
        </button>
      </div>
    </ng-template>
  </div>
</div>
