<div class="card">
  <h4 class="card-header">Edit Profile</h4>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input
          type="text"
          formControlName="email"
          class="form-control"
          [defaultValue]="(user$ | ngrxPush)?.email"
          [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
        />
        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
          <div *ngIf="f['email'].errors['required']">Email is required</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Username</label>
        <input
          type="text"
          formControlName="username"
          class="form-control"
          [defaultValue]="(user$ | ngrxPush)?.username"my-tournaments.component.html
          [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
        />
        <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
          <div *ngIf="f['username'].errors['required']">
            Username is required
          </div>
        </div>
      </div>
      <div>
        <button [disabled]="loading" class="btn btn-primary">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm me-1"
          ></span>
          Update profile information
        </button>
      </div>
    </form>
  </div>
</div>
