<mat-card class="draft-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Active draft</mat-card-title>
      <mat-card-subtitle>
        Playing
        <a
          routerLink="/cubes/{{ (draft$ | ngrxPush)?.cube?.id }}"
          class="card-link"
          >{{ (draft$ | ngrxPush)?.cube?.name }}
        </a>
      </mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="draft$ | ngrxPush; else noDraft">
      <mat-divider></mat-divider>
      <app-my-pool />
      <mat-divider></mat-divider>
      <app-match-panel />
      <mat-divider></mat-divider>
    </ng-container>
    <ng-template #noDraft>
      <p class="no-draft">Waiting for a draft to start</p>
    </ng-template>
  </mat-card-content>
</mat-card>
